<h3 class="goals-template-header">Current Goals </h3>
{{#each goals as |goal|}}
  <section class="goal" data-id="{{goal.id}}">
    <h1 class="title-header">{{goal.title}}</h1>
    <p class="description">{{goal.description}}</p>
    <button data-id="{{goal.id}}" class="btn btn-info delete-goal">Remove</button>
    <button data-id="{{goal.id}}" class="btn btn-info show-update-goal">Update</button>
  </section>
{{/each}}
