<h3 class="goals-template-header">Selected Goal </h3>
<section class="goal" data-id="{{goal.id}}">
  <h1>{{goal.title}}</h1>
  <p>{{goal.description}}</p>
  <button data-id="{{goal.id}}" class="btn btn-info remove-btn delete-goal">Remove</button>
  <button data-id="{{goal.id}}" class="btn btn-info update-btn update-goal">Update</button>
</section>
