<h3 class="form-header">Goals</h3>

{{#each goals as |goal|}}
  <div class="resource" data-id="{{goal.id}}">
    <p class="resource-title">{{goal.title}}</p>
    <p>ID: {{goal.id}}</p>
    <p class="resource-description">{{goal.description}}</p>
    {{#if goal.due_date}}
      <p class="due">Due: {{goal.due_date}}</p>
    {{/if}}
    <div class="resource-bottom-row">
      <button data-id="{{goal.id}}" class="btn btn-info remove-btn delete-goal">Delete</button>
      <button data-id="{{goal.id}}" class="btn btn-info update-btn show-update-goal">Update</button>
    </div>
  </div>
{{/each}}
