<h3>Goals</h3>
{{#each goals as |goal|}}
  {{log goal}}
  <section data-id="{{goal.id}}">
    <h4>Title:</h4>
    <p>
      {{goal.title}}
    <p>

    <h4>Description:</h4>
    <p>
      {{#if goal.description}}
        {{goal.description}}
      {{else}}
        No description provided.
      {{/if}}
    </p>
    <button data-id="{{goal.id}}" class="btn btn-danger delete">Remove</button>
  </section>

{{/each}}
