<h3 class="goals-template-header">Current Tasks: </h3>

<table>
  <tr>
    <td class="task-id-header">ID</td>
    <td class="task-title-header">Title</td>
    <td class="task-description-header">Description</td>
    <td class="task-completed-header">Completed</td>
    <td class="associated-goal-header">Associated Goal</td>
  </tr>
</table>

{{#each goals as |goal|}}
  <section class="goal" data-id="{{goal.id}}">
    <table>
      <tr>
        <td>{{goal.id}}</td>
        <td>{{goal.title}}</td>
        <td>
          {{#if goal.description}}
            {{goal.description}}
          {{else}}
            No description provided.
          {{/if}}
        </td>
        <td>{{task.completed}}</td>
        <td>{{task.goal_id}}</td>
      </tr>
    </table>
    <button data-id="{{goal.id}}" class="btn btn-info remove-btn delete-goal">Remove</button>
  </section>
{{/each}}
